# Byte-compiled / Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
venv/
.venv/
env/
ENV/

# Configuration & local secrets
.env
vault.json

# PyInstaller build outputs & specs
build/
dist/
*.spec

# Binaries
*.exe